---
---
@charset "utf-8";

@import "normalize";

body {
  font-family: "NanumGothic", "Malgun Gothic", "Apple SD Neo Gothic", "AppleGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #2569ff;
  text-decoration: none;
  border-bottom: 1px solid rgba(37, 105, 255, 0.1);
}
a:hover {
  border-bottom-color: rgba(37, 105, 255, 1);
}
table {
  width: 100%;
}

.boxmodel-overlay {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;

  * {
    color: transparent;
  }
  img {
    display: hidden;
  }
}
