<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <style>
        html, body {margin: 0; padding: 0;}
    </style>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="/assets/js/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/processing.min.js"></script>
    <script src="/assets/js/postproc.js"></script>
    <script>
        $(function() {
            postproc('body > article');

            $('form.search').on('submit', function(e) {
                $('form.search input[name="q"]').val($('#searchField').val() + ' site:html5tutorial.github.io');
            });
        })
    </script>
</head>

<body>
<!-- GTM { -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T6BG2B"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T6BG2B');</script>
<!-- } GTM -->

<!-- FB { -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=613868738726819&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- } FB -->

<h1>
    <a class="home" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <span class="title">{{ page.title }}</span>
</h1>

<article>
{{ content }}

{% if page.html5ref %}
<h2>
    참고 자료
</h2>
<ul>
    <li><a href="http://html5ref.clearboth.org/html5:element:{{ page.html5ref }}">HTML5 오픈 레퍼런스</a></li>
</ul>
{% endif %}

<!-- FB like { -->
<div
    class="fb-like"
    data-href="{{ page.url }}"
    data-layout="standard"
    data-action="like"
    data-show-faces="true"
    data-share="true"
    data-width="300"
    style="display: block; width: 100%; margin-top: 2rem;"></div>
<!-- } FB like -->
</article>

<section class="collections">
    <section class="guide">
    <h2>가이드</h2>
    <ul>
        {% for p in site.docs %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
    </ul>
    </section>

    <section class="guide">
    <h2>HTML</h2>
    <ul>
        {% for p in site.html %}
        {% if p.hide != 1 %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    </section>

    <section class="guide">
    <h2>CSS</h2>
    <ul>
        {% for p in site.css %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
    </ul>
    </section>

    <section class="guide">
    <h2>자바스크립트</h2>
    <ul>
        {% for p in site.js %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
    </ul>
    </section>
</section>

<footer>
    <p class="copyright">이 사이트의 모든 문서는 <a href="http://creativecommons.org/licenses/by-nc/2.0/kr/" rel="license">크리에이티브 커먼즈 저작자표시-비영리 2.0</a> 저작권을 따름</p>
    <p class="report">
        <a href="https://github.com/html5tutorial/html5tutorial.github.io/issues">수정사항 건의하기</a> |
        <a href="https://github.com/html5tutorial/html5tutorial.github.io/edit/master{{ page.url | replace:'.html','.md' | replace:'/html/','/_html/' | replace:'/css/','/_css/' | replace:'/docs/','/_docs/'}}">이 페이지 편집하기</a>
    </p>
</footer>

</body>
</html>
